@use "variables";

body {
  margin: 0;
  background-color: variables.$bg;
  color: var(--text);
  font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
}

img,
.img {
  background: url("../assest/img/img.jpg");
  height: 500px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
